beautifulsoup4==4.7.1
bs4==4.6.3
certifi==2018.11.29
chardet==3.0.4
dj-database-url==0.5.0
Django==2.1.5
gunicorn==19.9.0
idna==2.8
lxml==4.3.1
nltk==3.2.5
numpy==1.18.2
praw==6.5.1
prawcore==1.0.1
pytz==2018.9
requests==2.21.0
scikit-learn==0.22.2
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.7.3
update-checker==0.16
urllib3==1.24.1
websocket-client==0.54.0
whitenoise==4.1.2
psycopg2
pandas==1.0.3
matplotlib==3.2.1
re==2.2.1
Counter==3.1
seaborn==0.10.0
gensim==3.6.0
pickle==4.0
imblearn==0.4.3
xgboost==1.0.2
tensorflow==2.2.0-rc3
keras==2.3.1
scripts==2.0
logging==0.5.1.2
flask==1.1.2